# Configuration for Rasa NLU and Core

recipe: default.v1
language: vi

pipeline:
- name: WhitespaceTokenizer
  intent_split_symbol: "_"
- name: RegexFeaturizer

- name: LexicalSyntacticFeaturizer

- name: CountVectorsFeaturizer
  analyzer: "char_wb"
  min_ngram: 1
  max_ngram: 4

- name: DIETClassifier
  epochs: 100
  constrain_similarities: true
  entity_recognition: true

- name: EntitySynonymMapper

- name: ResponseSelector
  epochs: 100
  constrain_similarities: true

policies:
- name: MemoizationPolicy
  max_history: 3

- name: RulePolicy
  core_fallback_threshold: 0.4
  core_fallback_action_name: "action_default_fallback"
  enable_fallback_prediction: true

- name: TEDPolicy
  max_history: 5
  epochs: 100
  constrain_similarities: true
assistant_id: 20251118-081940-andante-lagoon
